//- Nav-tab component
//-
//- An upgraded Bootstrap component with icon and name.
//-
//- tabName - The name of the tab panel to which this component will switch.
//- src - The source of the tab's icon.
//- name - The displayed name of the tab.
//- selected - Indicates, whether the tab is selected.

mixin navTab(tabName, src, name, selected)
  li.d-flex.nav-item(role='presentation')
    a.d-flex.align-items-center.text-white.border-0.nav-link(href=`#${tabName}` role='tab' data-toggle='tab' aria-controls=`${tabName}` aria-selected=`${selected}`)
      svg(fill='currentColor').mr-2.h-25px.w-25px
        use(xlink:href=`${src}`)
      span.small.navbar-text.d-none.d-md-inline= name
